<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>travelwell</title>
    </head>

    <body>
        <div class="container p-4 my-4 mt-2 mx-auto text-white bg-dark rounded-4">
            <header>
                <div>
                    <h1 class="mx-auto">bootstrapped this</h1>
                </div>
            </header>

            <main>
                <section>
                    
                <button class="btn btn-primary">Add Voyage</button>
                    
                </section>
            </main>

            <footer>
                <p>well travelled | capstone project</p>
            </footer>
        </div>
<!-- <script>
if ('serviceWorker' in navigator ) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
    })
}
</script> -->

    </body>
</html>