<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>travelwell</title>
</head>

<body class="ts-container">

  <header class="header">
    <h1>Travel Planner</h1>
  </header>
  <main class="main">
    <div class="multi-col-main">
      <div class="mcm-l">
        <div class="ha-image" id="vPicture" alt="placeholder"></div>
      </div>
      <div class="mcm-r">
        <div class="table-colon">
          <div class="table-l">My Voyage</div>
          <div class="table-r">
            <span class="">Destination Description</span>
          </div>
          <div class="table-l">Departure</div>
          <div class="table-r"><span>04/04/24</span></div>
        </div>
        <button class="ts-btn" id="voyageAdd">Add Voyage</button>
        <button class="ts-btn" id="voyageRemove">Remove Voyage</button>  
      </div>
    </div>


    <div class="">
      <div class="">
          Trip is starting in <label id="numberofdays">nnn</label> days
      </div>
      <div class="">
        Text Text Text Text Text Text Text Text
      </div>
    </div>
    <div class="mcm-r"></div>

  </main>


  <footer class="footer">
    <p>well travelled | capstone project</p>
  </footer>

  <!-- <script>
if ('serviceWorker' in navigator ) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
    })
}
</script> -->
  </div>
</body>

</html>