<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>travelwell</title>
</head>

<body class="ts-container">

  <header class="header">
    <h1>Travel Planner</h1>
  </header>
  <main class="main">
    <div class="multi-col-main">
      <div class="mcm-l" id="vPicture">
      </div>
      <div class="mcm-r">
          <div class="table-colon">
            <div class="table-l"><label for="country">Country</label></div>
            <div class="table-n">
              
                <select name="country" id="country" autocomplete="country" class="selection"></select>
              
            </div>
            <div class="table-l"><label for="destination">City Name</label></div>
            <div class="table-n">
              <span class="table-n">                
                <input id="destination" class="input-destination" required minlength="3" maxlength="24"/>              
              </span>
            </div>          
          </div>

          <div class="search_box"><button class="search_button ts-btn" id="apiquery">Query Environmentals</button></div>

          <div class="table-colon">
            <div class="table-l">Departure</div>
            <span id="datepicker" class="table-r"></span>
          </div>  

        <div class="two-boxes">
          <button class="ts-btn" id="voyageAdd">Add Voyage</button>
          <button class="ts-btn" id="voyageRemove">Remove Voyage</button>
        </div>
      </div>
      <div class="mcm-stat">
        <div id="incomplete" class="important">Please enter a destination and date<br></div>
        <div id="duration" class="nodisplay">Trip is starting in <span id="numberofdays" class="tempdelta"></span> days</div>
        <div id="error"></div>
      </div>
    </div>  
  </main>

  <footer class="footer">

  </footer>

  <!-- <script>
if ('serviceWorker' in navigator ) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
    })
}
</script> -->
  </div>
</body>

</html>