  .container {
    display: inline-block;
    text-align: center;
    margin: 4px;
    border-radius: 10px;
  }

  .light-mode {
    background: content-box var(--ma-dark-bkg);
  }

  h1 {
    color: white;
    font-size: 16pt;
  }

  .header {
    grid-area: hd;
    background: var(--ma-dark-bkg);
    text-align: center;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 12px 12px 0px 0px;
    padding: 4px;
    margin: 0px;
  }

  .hd-image {
    display: none;
  }

  .social-media {
    margin: 4px 0px 4px 0px;
    padding: 2px 2px 0px 10px;
    line-height: 3em;
  }

  .nav {
    display: flex;
    flex-direction: column;
    background: var(--ma-dark-bkg);
    border-radius: 0px 0px 16px 16px;
    padding: 0px 0px 10px 0px;
  }

  .nav-btn {
    background: var(--ma-light-bkg);
    color: #0a0a0a;
    padding: 4px 15px 4px 15px;
    margin: 2px;
    font-size: 10pt;
    border: #6A79C4 solid 1px;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    min-width: 80%;
  }

  .mcm-header {
    display: block;
  }

  .mcm-header>ul,
  li {
    line-height: 1em;
    padding: 4px 1px 4px 5px;
    margin: 2px;
    list-style-type: none;
  }

  .article {
    display: block;
    position: relative;
    padding: 4px 2% 10px 2%;
    margin: 6px;
    border-radius: 6px;
    background-color: white;
  }

  .article>ul,
  li {
    line-height: 1em;
    padding: 4px 1px 4px 5px;
    margin: 2px;
    list-style-type: none;
    text-align: left;
  }

  .txt {
    text-align: justify;
    margin: 1px 6px 1px 6px;
    line-height: normal;
    font-style: normal;
  }

  .txt_bold {
    text-align: inherit;
    font-weight: 900;
    margin: 0px;
    line-height: normal;
    font-style: normal;
  }

  .txt_i {
    text-align: inherit;
    font-style: italic;
    font-weight: 300;
    margin: 0px;
    line-height: normal;
  }

  .fcap {
    font-size: 9pt;
    margin: 0px;
    padding: 1px;
    font-weight: 200;
  }

  .lowernav {
    display: block;
    text-align: center;
  }

  .ha-image {
    border-radius: 20px;
    border: white solid 1px;
    width: auto;
    max-width: 150px;
    height: auto;
    padding: 4px;
    margin: 16px 2px 16px 2px;
  }

  .footer {
    text-align: center;
  }

  .return-btn {
    margin: 10px 0px 10px 0px;
    padding: 20px 10% 20px 10%;
    color: var(--text-col);
    background-color: white;
    border-radius: 6px;
  }