
@import url("mobile.scss") (max-width: 599px);
@import url("large.scss") (min-width: 600px);

/* Color Theme b */

:root {
  --ma-light-bkg: #696969;
  /*slightly transparent strong green*/
  
  --ma-medium-bkg: #2e6b3c;
  /* grey-green */

  --ma-strong-bkg: #a8a8a8;
  /*wild green */

  --ma-dark-bkg: #53722ff5;
  /* dark green */

  --text-col: hsl(0, 0%, 100%);
  /* very dark grey*/

  --brd-col: #9de9c3dc;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
  font-style: normal;
}

h3 {
  margin: 6px 2px 6px 2px;
}

.btn-form {
  display: inline;
}

.ha-link {
  text-decoration: none;
  border-radius: 8px;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:visited {
  color: var(--text-col) !important;
  text-decoration: none;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:hover {
  background: white;
}

.box {
  background: var(--ma-strong-bkg);
  color: var(--text-col);
}

.main {
  padding: 30px 4px 0px 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
}

.table-colon {
  color:white;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 35px 25px;
  //background: var(--ma-light-bkg);
  padding: 8px 4px 4px 8px;
  //border: var(--brd-col) solid 1px;
}

 .table-colon > *:nth-child(even)::before {
   content: ": ";
}

.tcol-top {
  border-radius: 8px 8px 0px 0px;
}
.tcol-bot {
  border-radius: 0px 0px 8px 8px;
}


.search_button {
  width: 300px;
  height: 40px;
  margin: 5px 0px 5px 0px;
  padding: 2px 0px 2px 0px;
  border-radius: 8px;
}

.table-l {
  text-align: left;
  padding: 3px 0px 0px 0px;
}

.table-n {
  text-align: left;
  padding: 3px 0px 0px 0px;
}

.input-destination {
  width:180px;
}

.btn-pushable {
  width: 290px;
  margin: 14px 0px 0px 0px;
  background: var(--ma-strong-bkg);
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.btn-front {
  display: block;
  padding: 6px 16px;
  border-radius: 8px;
  font-size: 11pt;
  background: var(--ma-light-bkg);
  color: white;
  transform: translateY(-4px);
}

.btn-pushable:hover {
  background-color: white;
}

.btn-pushable:active .btn-front {
  transform: translateY(-2px);
}

.date-picker {
  /* background: var(--ma-light-bkg); */
  background: white;
  height:1.5em;
  border-radius:8px;
}

.link-implant {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hline {
  padding: 0px 6px 0px 6px;
  margin: 4px 6px 4px 6px;
}

.copyright {
  margin-left: 15px;
  font-style: oblique;
}

.social-media {
  margin: 4px 0px 4px 0px;
  padding: 1px;
}

.fa {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: black;
  color: #F0E1D8;
}

.nodisplay {
  display: none;
}

.important{
  color: rgb(255, 247, 132);
  padding: 4px;
} 

.duration {
  color:black;
  background-color:white;
  padding: 10px;
  border-radius: 8px;
}

.tempdelta {
  /* background-color: rgb(146, 242, 255); */
  background-color: white;
  border: 1px solid black;
  margin: 0px;
  padding: 4px 1px 4px 5px;
  border-radius: 50%;
  font-style: italic;
}

.message-area {
  text-align: left;
  color: var(--text-col);
}

.weather {
  margin: 15px 0px 5px 0px;
  color: var(--text-col);
}