
@import url("mobile.scss") (max-width: 499px);
@import url("large.scss") (min-width: 500px);

/* Color Theme b */

:root {
  --ma-light-bkg: #189b64d2;
  /*slightly transparent strong green*/
  
  --ma-medium-bkg: #4eb165;
  /* grey-green */

  --ma-strong-bkg: #5f9c76;
  /*wild green */

  --ma-dark-bkg: #6a943ad8;
  /* dark green */

  --text-col: #0a0a0a;
  /* very dark grey*/

  --brd-col: #9de9c3dc;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
  font-style: normal;
}

h3 {
  margin: 6px 2px 6px 2px;
}

.btn-form {
  display: inline;
}

.ha-link {
  text-decoration: none;
  border-radius: 8px;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:visited {
  color: var(--text-col) !important;
  text-decoration: none;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:hover {
  background: white;
}

.box {
  background: var(--ma-strong-bkg);
  color: var(--text-col);
}

.main {
  padding: 30px 4px 0px 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
}

.table-colon {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 35px 25px;
  background: var(--ma-light-bkg);
  padding: 8px 4px 4px 8px;
  border: var(--brd-col) solid 1px;
}

 .table-colon > *:nth-child(even)::before {
   content: ": ";
}

.tcol-top {
  border-radius: 8px 8px 0px 0px;
}
.tcol-bot {
  border-radius: 0px 0px 8px 8px;
}
.search_box {
  background: none;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.search_button {
  width: 300px;
  height: 40px;
  margin: 5px 0px 5px 0px;
  padding: 2px 0px 2px 0px;
  border-radius: 8px;
}

.table-l {
  text-align: left;
  padding: 3px 0px 0px 0px;
}

.table-n {
  text-align: left;
  padding: 2px 0px 0px 0px;
}

.ts-btn {
  background: var(--ma-light-bkg);
  padding: 4px 4px 4px 0px;
  margin: 2px 2px 2px 0px;
  font-size: 11pt;
  border:var( --brd-col) solid 1px;
  border-radius: 0px;
  width: 300px;
}

.ts-btn:hover {
  background: white;
}

.date-picker {
  /* background: var(--ma-light-bkg); */
  background: white;
  height:1.5em;
  border-radius:8px;
}

.link-implant {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hline {
  padding: 0px 6px 0px 6px;
  margin: 4px 6px 4px 6px;
}

.copyright {
  margin-left: 15px;
  font-style: oblique;
}

.social-media {
  margin: 4px 0px 4px 0px;
  padding: 1px;
}

.fa {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: black;
  color: #F0E1D8;
}

.nodisplay {
  display: none;
}

.important{
  color: rgb(87, 8, 119);
  padding: 4px;
} 

.tempdelta {
  /* background-color: rgb(146, 242, 255); */
  background-color: white;
  margin: 0px;
  padding: 4px 1px 4px 5px;
  border-radius: 50%;
  font-style: italic;

}

