/* 
@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
@import "~/node_modules/bootstrap/scss/variables-dark";
@import "~/node_modules/bootstrap/scss/maps";
@import "~/node_modules/bootstrap/scss/mixins";
@import "~/node_modules/bootstrap/scss/root";
@import "~/node_modules/bootstrap/scss/reboot";
@import "~/node_modules/bootstrap/scss/helpers"; 
@import "~/node_modules/bootstrap/scss/bootstrap";*/

@import url("mobile.scss") (max-width: 400px);
@import url("medium.scss") (min-width: 401px) and (max-width: 900px);
@import url("large.scss") (min-width: 901px);

/* Color Theme b */

:root {
  --ma-light-bkg: #c9d1d5;
  /*loblolly - blue colors from magezon*/
  
  --ma-medium-bkg: #84a7ba;
  /* nepal */

  --ma-strong-bkg: #5f7c9c;
  /*wild blue yonder */

  --ma-dark-bkg: #303655;
  /* martinique */

  --text-col: #0a0a0a;
  /* very dark grey*/
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
  font-style: normal;
}

h3 {
  margin: 6px 2px 6px 2px;
}


button {
  margin: 2px;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  border: 0;
}

.btn-form {
  display: inline;
}

.ha-link {
  text-decoration: none;
  border-radius: 8px;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:visited {
  color: var(--text-col) !important;
  text-decoration: none;
  -webkit-text-decoration-color: var(--text-col) !important;
  text-decoration-color: var(--text-col);
}

.ha-link:hover {
  background: white;
}

.box {
  background: var(--ma-strong-bkg);
  color: var(--text-col);
}

.main {
  display: block;
  padding: 35px 4px 0px 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", "sans-serif";
  text-align: center;
}

.link-implant {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hline {
  padding: 0px 6px 0px 6px;
  margin: 4px 6px 4px 6px;
}

.copyright {
  margin-left: 15px;
  font-style: oblique;
}

.social-media {
  margin: 4px 0px 4px 0px;
  padding: 1px;
}

.fa {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: black;
  color: #F0E1D8;
}

.ha-image {
  border-radius: 20px;
  border: none;
  max-width: 240px;
  min-width: 100px;
  max-height: 300px;
  min-height: 200px;
  padding: 4px;
  margin: 16px 2px 16px 2px;
}