.ts-container {
  justify-content: center;
  justify-self: center;
  background: rgb(36, 36, 36);
  border-radius: 10px 10px 10px 10px;
  margin: 2px;
}
.header {
  text-align: center;
}
h1 {
  color: #ffffff;
  font-size: 17pt;
  font-style: normal;
  font-kerning: auto;
  letter-spacing: 0.1pt;
  padding: 0px 0px 0px 0px;
}
.image-wrap {
  justify-content: center; 
}

.message-area {
  padding: 5px 1px 5px 1px;
  margin: 5px 1px 1px 1px;
  text-align: center;
}

.mcm-l {
  justify-content: center;
  text-align: center;
}
.ha-image {
  
  display:inline-block;
  flex-direction: column;
  border: none;
  background-color: transparent;
  max-height:200px;
  max-width:280px;
  padding: 4px;
  margin: 1px 2px 16px 2px;
}
.table-colon {
  margin: 0px 0px 0px 10px;
}
.weather {
  padding: 0px 0px 0px 20px;
}
.search_box {
  text-align: center;
}
.two-boxes {
  text-align: center;
}